:root {
    --white: #FFF;
    --london-london-100: #FFF;
    --ui-light-grey: #F4F4F6;
    --font-gt-zirkon: "GT Zirkon", sans-serif;
    --font-econ-sans: "Econ Sans", sans-serif;
}

.titleText {
    width: 100%;
    max-width: 564px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 16px;
    box-sizing: border-box;
}

.heading {
    color: var(--white);
    font-family: var(--font-gt-zirkon);
    font-size: 56px;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -2.8px;
}

.subHeading {
    width: 100%;
    max-width: 548px;
    color: var(--london-london-100);
    font-variant-numeric: lining-nums proportional-nums;
    font-family: var(--font-econ-sans);
    font-size: 22px;
    font-weight: 400;
    line-height: 165%;
}

.footer {
    color: var(--ui-light-grey);
    font-variant-numeric: lining-nums proportional-nums;
    font-family: var(--font-econ-sans);
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 32px;
}

@media (max-width: 600px) {
    .titleText {
        width: 90%;
        padding: 8px;
    }

    .heading {
        font-size: 36px;
        letter-spacing: -1.8px;
    }

    .subHeading {
        font-size: 18px;
    }

    .footer {
        font-size: 14px;
    }
}